<h1>Edit Credential</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.credential_path(@conn, :update, @credential)) %>

<span><%= link "Back", to: Routes.credential_path(@conn, :index) %></span>
