<h1>Show Credential</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @credential.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @credential.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @credential.password %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.credential_path(@conn, :edit, @credential) %></span>
<span><%= link "Back", to: Routes.credential_path(@conn, :index) %></span>
